<div id="sidebar" class="sidebar                  responsive">
    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
    </script>

    <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
            <button class="btn btn-success">
                <i class="ace-icon fa fa-signal"></i>
            </button>

            <button class="btn btn-info">
                <i class="ace-icon fa fa-pencil"></i>
            </button>

            <button class="btn btn-warning">
                <i class="ace-icon fa fa-users"></i>
            </button>

            <button class="btn btn-danger">
                <i class="ace-icon fa fa-cogs"></i>
            </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
            <span class="btn btn-success"></span>

            <span class="btn btn-info"></span>

            <span class="btn btn-warning"></span>

            <span class="btn btn-danger"></span>
        </div>
    </div><!-- /.sidebar-shortcuts -->

    <ul class="nav nav-list">


        <li>
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-desktop"></i>
							<span class="menu-text">
								主页
							</span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">

                <li>
                    <a href="/">
                        <i class="menu-icon fa fa-caret-right"></i>
                        搜索患者
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="/appointment">
                        <i class="menu-icon fa fa-caret-right"></i>
                        申请预约
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="/queue">
                        <i class="menu-icon fa fa-caret-right"></i>
                        待检队列
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="/graphicreport">
                        <i class="menu-icon fa fa-caret-right"></i>
                        图文报告
                    </a>

                    <b class="arrow"></b>
                </li>

            </ul>
        </li>

        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-list"></i>
                <span class="menu-text"> 报告 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="/patientlist">
                        <i class="menu-icon fa fa-caret-right"></i>
                        患者列表
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="/reporttemplate">
                        <i class="menu-icon fa fa-caret-right"></i>
                        报告模板
                    </a>

                    <b class="arrow"></b>
                </li>
            </ul>
        </li>

        <li class="">
            <a href="/stats">
                <i class="menu-icon fa fa-list-alt"></i>
                <span class="menu-text"> 统计查询 </span>
            </a>

            <b class="arrow"></b>
        </li>






        <li class="">
            <a href="#" class="dropdown-toggle">
                <i class="menu-icon fa fa-tag"></i>
                <span class="menu-text"> 管理 </span>

                <b class="arrow fa fa-angle-down"></b>
            </a>

            <b class="arrow"></b>

            <ul class="submenu">
                <li class="">
                    <a href="/dptset">
                        <i class="menu-icon fa fa-caret-right"></i>
                        科室管理
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="/dptstats">
                        <i class="menu-icon fa fa-caret-right"></i>
                        科室统计
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="/settings">
                        <i class="menu-icon fa fa-caret-right"></i>
                        系统维护
                    </a>

                    <b class="arrow"></b>
                </li>

                <li class="">
                    <a href="/dptnotice">
                        <i class="menu-icon fa fa-caret-right"></i>
                        科室公告
                    </a>

                    <b class="arrow"></b>
                </li>


            </ul>
        </li>

    </ul><!-- /.nav-list -->

    <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
        <i class="ace-icon fa fa-angle-double-left" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
    </div>

    <script type="text/javascript">
        try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
    </script>
</div>